body{
  background-color: #000;
  text-align: center;
  font-family: verdana, geneva, Tahoma, sans-serif;
}

.header--main {
  font-weight: normal;
  font-size: 50px;
  color:#fff;

}

.link--cta{
font-size: 16px;
color: aquamarine;

}

h2{
  font-weight: 300;
  font-size: 42px;
  color:#fff;
}

p{
  font-size: 21px;
  color: gray;
}
